body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  background-color: #f9b0c6;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 768px;
  }
}

.content {
  margin-bottom: 50px;
}

.title {
  text-align: center;
  font-style: italic;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  line-height: 63px;
  font-size: 50px;
  margin: 0px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

h2 {
  font-style: normal;
  font-family: Courier New, Courier, monospace;
  font-weight: 700;
  color: #ffffff;
  line-height: 44px;
  font-size: 35px;
  margin: 0px;
}

h3 {
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0043ff;
  line-height: 30px;
  font-size: 24px;
  margin: 0px;
  font-weight: 400;
  padding-bottom: 10px;
}

p {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

a {
  list-style-type: none;
  color: #ffffff;
}

ul li:before {
  content: "—";
  position: relative;
  left: -5px;
}

.paragraph {
  margin-bottom: 25px;
  line-height: 1.7;
}

@media screen and (min-width: 992px) {
  h2 {
    margin-bottom: -25px;
    margin-left: -50px;
  }
}

.format p {
  padding-bottom: 0px;
}

.description {
  padding-bottom: 25px;
}

.list p {
  padding-bottom: 0px;
}

.stage {
  padding-bottom: 25px;
}

footer {
  text-align: right;
}

footer p {
  padding-bottom: 10px;
}
